<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">  
  <title>New</title>
</head>
<body>
  <div class="container" >
    <form action="/show" method="POST">
      <h1>Add a new Item</h1>

      <input type="text" placeholder="date" name="date">
      <input type="text" placeholder="name" name="name">
      <input type="number" placeholder="amount" name="amount">
      <input type="text" placeholder="from" name="from">
      <input type="submit" value="create new item">
    </form>
  </div>
  
</body>
</html>